doctype html
html(lang="en")
  head
    include ./common/header.jade
  body
    block content
    h1 Welcome to AWARE Micro
    p Let's get this going in no time!
    form(action="/create" method="POST")
      div(class='mdl-textfield mdl-js-textfield')
        input(class='mdl-textfield__input' type='text' id='server_domain')
        label(class='mdl-textfield__label' for='server_domain') https://yourdomain.com

      button(class='mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button-colored' type='submit') Ready!

  include ./common/footer.jade
